<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to the Parlor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome Back 🍧</h1>
    <p>Log in to get your favorite scoop!</p>
    
    <form method="POST">
      <input type="text" name="username" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="Login" class="button">
    </form>

    <p>Don't have an account? <a href="/signup">Sign up here</a></p>
  </div>
</body>
</html>
